


.accordions {
  display: flex;
  // position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #3C3C3C;
  box-sizing: border-box;
  z-index: 0;
  }

.accordion {
  background: linear-gradient(200deg, rgb(29, 145, 252) 13.57%, rgb(90, 54, 192) 98.38%);
  width: max(5vw, auto);
  padding: 27px 30px 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
  position: sticky;
    
  &:nth-child(2) {
    background: linear-gradient(200deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
  }
  
  &:nth-child(3) {
    background: linear-gradient(200deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
  }
  
  &:nth-child(4) {
    background: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
  }
}

.spacer {
  top: auto;
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }
  .title {
    font-size: 20px;
  }
}

.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: .4em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
   // padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

/* .names_competencies {
display: flex;
 position: absolute;
 flex-direction: column;
 width: 100%;
 height: auto;
 top: 2450px;
 font-family: 'Unbounded';
 font-style: normal;
 font-weight: 300;
 font-size: 32px;
 line-height: 40px;
 color: #3C3C3C;
 z-index: -1;
}  */
  /* .name_architecture,
  .name_constructive,
  .name_science,
  .name_digital {
    display: flex;
    height: 200px;
    align-items: center;
    background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
    backdrop-filter: blur(14.5px);
    overflow: hidden;
    transition: height 2.0s ease-in-out;
  } */
  /* .name_block {
   display: flex;
   padding-left: 2.7vw;
   margin-top: 3.2vw;
   } */

 /* .expanded {
display: flex;
height: 594px;
width: auto;
background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
backdrop-filter: blur(14.5px);
opacity: 1;
  }
 .expanded {
display: flex;
border-top: 1px solid #FFFFFF;
height: 594px;
width: auto;
background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
backdrop-filter: blur(14.5px);
opacity: 1;
 }
 .expanded {
display: flex;
border-top: 1px solid #FFFFFF;
height: 554px;
width: auto;
background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
backdrop-filter: blur(14.5px);
opacity: 1;
 }
 .expanded {
display: flex;
border-top: 1px solid #FFFFFF;
height: 594px;
width: auto;
background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
backdrop-filter: blur(14.5px);
opacity: 1;
 } */
 