@import "../../App.css";


.accordions {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 32px;
  line-height: 40px;
  color: var(--black-3C3C3C);
  box-sizing: border-box;
  filter: drop-shadow(0px -2px 24px rgba(242, 238, 239, 0.32));
  z-index: 1;
}

.accordion {
  background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
  filter: drop-shadow(0px 0px 34px rgba(150, 157, 162, 0.1));
  backdrop-filter: blur(14.5px);
  width: max(5vw, auto);
  height: max(18.4vh, auto);
  border-top: 2px solid #F7F3F2;
  position: relative;
  z-index: 1;


  &:nth-child(2) {
    background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.12) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
    filter: drop-shadow(0px 0px 34px rgba(150, 157, 162, 0.1));
    backdrop-filter: blur(14.5px);
  }

  &:nth-child(3) {
    background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.15) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
    filter: drop-shadow(0px 0px 34px rgba(150, 157, 162, 0.1));
    backdrop-filter: blur(14.5px);
  }

  &:nth-child(4) {
    background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.18) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
    filter: drop-shadow(0px 0px 34px rgba(150, 157, 162, 0.1));
    backdrop-filter: blur(14.5px);
  }
}
.spacer {
  top: auto;
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }

  .title {
    font-size: 20px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 32px;
  line-height: 40px;
  color: var(--black-1D2E43);
  padding-top: 3.2vh;
  padding-left: 2.7vw;
  padding-bottom: 3.2vh;
 }


.text {
display: flex;
flex-direction: column;
align-items: flex-start;
font-family: var(--font-unbounded);
font-style: normal;
font-weight: var(--fw-300);
font-size: 20px;
line-height: 28px;
color: var(--black-1D2E43);
padding-left: 50.9vw;
padding-right: 18.3vw;
}


.text_span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: var(--black_text);
  }

.text_span span {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 32px;
  padding-top: 8px;
  }


