/* Fonts */
:root {
    --font-unbounded: 'Unbounded', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-raleway: 'Raleway', sans-serif;

    /* Font weights */
    --fw-300: 300;
    --fw-400: 400;
}

/* Colors */
:root {
    --color-green: #F6F6F66B;
    --color-white: #F6F6F6;
    --color-desc: #EBECEE;
    --color-title-text: #1D2E43;
    --color-grey-text: #959DA6;
    --color-number-hextension: #566272;
}

/* Spacing */
:root {
    --mb-container-2: 2rem;
    --mb-container-1: 1rem;
}

/* General styles */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* Container styles */
.container {
    margin-left: var(--mb-container-2);
    margin-right: var(--mb-container-2);
    overflow-y: auto;
}

.item img {
    border-radius: 1.11vw;
}

/* Header styles */
.header_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(70%);
}

.header_img_title {
    position: absolute;
    top: 8vh;
}

.header_link {
    background: var(--color-green);
    border: none;
    color: var(--color-white);
    padding: 0.69vw 1.39vw;
    text-align: left;
    font-size: 1.11vw;
    cursor: pointer;
    border-radius: 18px;
    padding-left: 20px;
}

.header_link::before {
    content: "<";
    margin-right: 10px;
}

.header_title {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 3.33vw;
    line-height: 4.44vw;
    color: var(--color-white);
    padding-top: 4.7vh;
}

.header_name {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 1.67vw;
    line-height: 2.22vw;
    color: var(--color-white);
    padding-top: 1.11vw;
}

.header_desc {
    font-family: var(--font-raleway);
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.97vw;
    line-height: 14px;
    color: var(--color-desc);
    padding-top: 0.56vw;
}

.header_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.89vw;
    padding-top: 2.22vw;
}

.header_content_text {
    width: 70%;
}

/* Title block styles */
.title_block {
    display: flex;
    align-items: center;
    gap: 1.39vw;
}

.left_title {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 2.22vw;
    line-height: 2.78vw;
    color: var(--color-title-text);
}

.articles_title_text {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 1.11vw;
    line-height: 1.67vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-title-text);
    padding-top: 1.22vw;
}

/* Quote and description object styles */
.quote_container,
.description_object_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_block,
.description_object_block {
    width: 70%;
}

.description_object_block {
    display: flex;
    font-size: 1.11vw;
    line-height: 1.67vw;
    flex-direction: column;
    gap: 2.78vw;
    padding-bottom: 2.78vw;
}

.quote_text {
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 1.67vw;
    padding-bottom: 30px;
}

.quote {
    background-color: var(--color-desc);
    border-radius: 16px;
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 1.67vw;
    padding: 20px;
    margin-bottom: 40px;
}

.quote_director {
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 1.39vw;
    color: #959DA6;
    padding-top: 24px;
}

/* Mobile styles */
@media screen and (max-width: 700px) {

    .container {
        margin-left: var(--mb-container-1);
        margin-right: var(--mb-container-1);
    }

    .header_img_title {
        top: 9vh;
        left: 2vh;
    }

    .header_link {
        font-size: 3.73vw;
        padding: 1.67vw 3.47vw;
    }

    .header_title {
        font-size: 8.53vw;
        line-height: 12.4vw;
        padding-top: 8vw;
    }

    .header_desc {
        font-size: 3.73vw;
        line-height: 3.73vw;
        padding-top: 2.56vw;
    }

    .header_content {
        padding-top: 5.33vh;
        flex-direction: column;
        justify-content: normal;
    }

    .header_content_text {
        width: auto;
    }

    .title_block {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .left_title {
        font-size: 5.07vw;
        line-height: 7.47vw;
    }

    .quote_block,
    .description_object_block {
        width: auto;
    }

    .description_object_block,
    .quote_text,
    .quote,
    .articles_title_text {
        font-size: 4.27vw;
        line-height: 6.40vw;
    }

    .quote_director {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }

    .header_name {
        font-size: 3.73vw;
    }
}