@import '../../../App.css';

.form_container {
    width: 33.375rem;
    padding: 1.62rem 2rem 1.75rem 2rem;


    &__title {
        font-size: 1.5rem;
        font-family: var(--font-unbounded);
        font-style: normal;
        font-weight: 300;
        line-height: 2rem;
    }

    &__block_gray_one {
        background-color: var(--light-light-gray-EBECEE);
        padding: 0.88rem 1rem 2rem 1rem;
        margin-top: 2.5rem;
        border-radius: 6px;
    }

    &__checkbox_block {
        color: var(--light-gray-C0C5CB);
        font-size: 0.75rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem;
        margin-top: 2rem;

        span {
            color: var(--salmon-light-FFBFB5);
        }
    }

    &__radio_container {
        display: flex;
        gap: 1rem;
    }

    &__radio_block_one {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(235, 236, 238);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__radio_label_one {
        width: 20px;
        height: 15px;
        border-radius: 2px;
        background-color: rgb(151, 157, 165);
    }

    &__radio_input {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    &__radio_block_two {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(235, 236, 238);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__radio_label_two {
        width: 12px;
        height: 12px;
        border-radius: 2px;
        background-color: rgb(151, 157, 165);
    }

    &__radio_block_three {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(235, 236, 238);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__radio_label_three {
        width: 12px;
        height: 20px;
        border-radius: 2px;
        background-color: rgb(151, 157, 165);
    }

          &:checked+&__radio_block_one &__radio_label_one {
              background-color: red;
          }
    
          &:checked+&__radio_block_two &__radio_label_two {
              background-color: blue;
          }
    
          &:checked+&__radio_block_three &__radio_label_three {
              background-color: green;
          }


    

    // &__radio_input:checked+.form_container__radio_label {
    //     background-color: #fff;
    // }

    // &__radio_input:checked+.form_container__radio_label .form_container__radio_block {
    //     background-color: rgb(133, 185, 247);
    // }

    // &__radio_block_one,
    // &__radio_block_two,
    // &__radio_block_three {
    //     transition: background-color 0.3s ease;
    // }

    // &__radio_label_one,
    // &__radio_label_two,
    // &__radio_label_three {
    //     transition: background-color 0.3s ease;
    // }

    // &__radio_input:checked+.form_container__radio_label_one .form_container__radio_block_one,
    // &__radio_input:checked+.form_container__radio_label_two .form_container__radio_block_two,
    // &__radio_input:checked+.form_container__radio_label_three .form_container__radio_block_three {
    //     background-color: rgb(133, 185, 247);
    // }

    // &__radio_input:checked+.form_container__radio_label_one,
    // &__radio_input:checked+.form_container__radio_label_two,
    // &__radio_input:checked+.form_container__radio_label_three {
    //     background-color: #fff;
    // }


}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.form__field {
    font-family: var(--font-raleway);
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--gray-959DA6);
    outline: 0;
    font-size: 1.3rem;
    color: var(--black-1D2E43);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
        font-weight: var(--fw-400);
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray-959DA6);
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 0.70rem;
        color: var(--gray-959DA6);
        font-weight: 400;
    }

    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--salmon-FF7F6A), var(--salmon-FF7F6A)) 1 / 0 0 1px 0 stretch;
    border-image-slice: 2;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}