@import '../App.css';

.company_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.underSlider_text_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 60vh;
  padding-left: 10vw;
}

.span_underSlider_text1 {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 24px;
  line-height: 32px;
  color: var(--white-F6F6F6);
}

.span_underSlider_text2 {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--white-F6F6F6);
  padding-top: 4px;
}

.div_counter_wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
}

.container_text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 210px;
}

.div_underSlider_text {
  display: flex;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--white-F6F6F6);
}

.text_svg {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_underSlider_text {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 16px;
  line-height: 24px;
  color: var(--white-F6F6F6);
  padding-top: 9px;
}

.sliderMobile_wrapper {
  padding: 32px 1.87vw 120px 1.87vw;
}

.icon_partner {
  /* width: 1024px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.563rem;
}

.icon_partner img {
  height: 26px;
}

.about_main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left_about {
  display: flex;
  flex-direction: column;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  padding-bottom: 400px;
  padding-left: 1.87vw;
  white-space: nowrap;
  /* width: 60vw; */
  /* min-width: fit-content; */
}

.name_company {
  font-size: 53px;
  line-height: 48px;
  color: var(--gray-959DA6);
  transition: 0.5s;
  padding-bottom: 20px;
}

.this_block {
  font-size: 48px;
  line-height: 64px;
  color: var(--black-1D2E43);
  writing-mode: vertical-rl;
  padding-right: 200px;
  transition: 0.5s;
  /* padding-top: 300px; */
}

.right_about {
  padding-right: 10vw;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  padding-left: 8.05vw;
  padding-right: 10vw;
}

.text_right_about {
  height: 230px;
  padding-bottom: 56px;
}

.right_counter_wrapper {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--black-1D2E43);
  padding-right: 192px;
}

.container_text_right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

.div_underSlider_text_right {
  display: flex;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 68px;
  line-height: 74px;
  color: var(--black-1D2E43);
  padding-right: 192px;
}

.number {
  font-family: var(--font-unbounded);
  font-size: 60px;
}

.text_svg_right {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_underSlider_text_right {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 28px;
  color: var(--gray-959DA6);
  padding-top: 16px;
}

.company_group_name {
  display: flex;
  flex-direction: row;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 40px;
  line-height: 48px;
  color: var(--black-1D2E43);
  padding-left: 1.87vw;
  align-items: center;
  padding-bottom: 80px;
}

.plus_nine {
  display: flex;
  padding-left: 8px;
  justify-content: center;
  align-items: flex-start;
}

.awards_wrapper {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 40px;
  line-height: 48px;
  color: var(--black-1D2E43);
  padding-left: 42.84vw;
  padding-right: 25.8vw;
  padding-bottom: 24px;
}

.list_project {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 20px;
  line-height: 28px;
  color: var(--black-1D2E43);
  padding-left: 42.84vw;
  padding-right: 1.87vw;
  padding-bottom: 84px;
}

.specialist_wrapper {
  padding-top: 173px;
}

.specialist {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 32px;
  line-height: 40px;
  color: var(--black-1D2E43);
  padding-left: 1.87vw;
  padding-bottom: 40px;
}

.button_group {
  display: flex;
  padding-left: 1.87vw;
  padding-bottom: 52px;
}

.button_group button {
  display: inline-block;
  margin-right: 8px;
  width: auto;
  height: 36px;
  background: transparent;
  border-radius: 34px;
  border: 1px solid var(--black-1D2E43);
  text-align: center;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 20px;
  color: var(--black-1D2E43);
  padding: 8px 24px;
}

.button_act:active,
.button_act:hover,
.active {
  background: var(--black-1D2E43) !important;
  color: var(--white-F6F6F6) !important;
}
.card_container {
  display: flex;
  padding-left: 1.87vw;
}

.card_container_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

}

.container__item_stuff {
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;
  margin-right: 2vw;
  width: 22vw;
}

.container__img_stuff img {
  width: 100%;
  height: 100%;
}

img {
  border-radius: 1rem;
}

.container__item_name_stuff {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-700);
  font-size: 18px;
  line-height: 24px;
  color: var(--black-3C3C3C);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 16px;
}

.container__item_position_stuff {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--black-3C3C3C);
  padding-top: 4px;

}


/* стили мобильной версии  */

@media screen and (max-width: 767px) {
  .icon_partner {
    display: none;
  }
}