@import '../App.css';

.company_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.underSlider_text_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 60vh;
  padding-left: 10vw;
}

.span_underSlider_text1 {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 24px;
  line-height: 32px;
  color: var(--white-F6F6F6);
  white-space: pre-wrap;
  margin-right: 20rem;
}

.span_underSlider_text2 {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--white-F6F6F6);
  padding-top: 4px;
}

.div_counter_wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
}

.container_text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 210px;
}

.div_underSlider_text {
  display: flex;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--white-F6F6F6);
}

.text_svg {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_underSlider_text {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 16px;
  line-height: 24px;
  color: var(--white-F6F6F6);
  padding-top: 9px;
}

.sliderMobile_wrapper {
  padding: 2rem 1.87vw 8rem 1.87vw;
}

.icon_partner {
  display: flex;
  justify-content: space-between;
}

.icon_partner img {
  height: 26px;
}

.about_main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left_about {
  display: flex;
  flex-direction: column;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  padding-bottom: 400px;
  padding-left: 1.87vw;
  margin-right: 10vw;
  white-space: nowrap;
  width: 23vw;
}

.left_about_mobile {
  display: none;
}

.name_company {
  font-size: 53px;
  line-height: 48px;
  color: var(--gray-959DA6);
  transition: 0.5s;
}

.this_block {
  font-size: 48px;
  line-height: 64px;
  color: var(--black-1D2E43);
  writing-mode: vertical-rl;
  transition: 0.5s;
  margin-top: 40px;
  margin-left: 300px;
}


.right_about {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  padding-left: 20vw;
  padding-right: 0vw;
  width: 76vw;
  color: var(--black-1D2E434);
}

.text_right_about {
  padding-bottom: 56px;
  padding-right: 10vw;
}

.right_counter_wrapper {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-500);
  font-size: 48px;
  line-height: 64px;
  color: var(--black-1D2E43);
  padding-right: 192px;
}

.container_text_right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

.div_underSlider_text_right {
  display: flex;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 68px;
  line-height: 74px;
  color: var(--black-1D2E43);
  padding-right: 192px;
}

.number {
  font-family: var(--font-unbounded);
  font-size: 60px;
  font-weight: var(--fw-300);
}

.text_svg_right {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_underSlider_text_right {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 28px;
  color: var(--gray-959DA6);
  padding-top: 16px;
}

.company_group_name {
  display: flex;
  flex-direction: row;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 40px;
  line-height: 48px;
  color: var(--black-1D2E43);
  padding-left: 1.87vw;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 120px;
}

.plus_nine {
  display: flex;
  padding-left: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}

.company_group_slider {
  padding-left: 1.87vw;
  padding-right: 1.87vw;
}

.awards_wrapper {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 40px;
  line-height: 48px;
  color: var(--black-1D2E43);
  padding-left: 42.84vw;
  padding-right: 25.8vw;
  padding-bottom: 24px;
}

.years_div {
  font-size: 14px;
  font-family: var(--font-raleway);
  line-height: 20px;
  color: var(--gray-959DA6);
  padding-left: 1rem;
}

.list_project {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 20px;
  line-height: 28px;
  color: var(--black-1D2E43);
  padding-left: 42.84vw;
  padding-right: 1.87vw;
  padding-bottom: 84px;
}

.specialist_wrapper {
  padding-top: 173px;
}

.specialist {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 32px;
  line-height: 40px;
  color: var(--black-1D2E43);
  padding-left: 1.87vw;
  padding-bottom: 40px;
}

.button_group {
  display: flex;
  padding-left: 1.87vw;
  padding-bottom: 52px;
}

.button_group button {
  display: inline-block;
  margin-right: 8px;
  width: auto;
  height: 36px;
  background: transparent;
  border-radius: 34px;
  border: 1px solid var(--black-1D2E43);
  text-align: center;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 20px;
  color: var(--black-1D2E43);
  padding: 8px 24px;
}

.active {
  background: var(--black-1D2E43) !important;
  color: var(--white-F6F6F6) !important;
}

.button_hover:hover {
  background: var(--dark-gray-566272);
  color: var(--white-F6F6F6);
}

.card_container {
  padding-left: 1.87vw;
  padding-right: 1.87vw;
  padding-bottom: 2rem;
}

.card_container_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container__item_stuff {
  cursor: pointer;
  width: 22vw;
}

.wrapper_container_item_stuff {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22vw;
  height: auto;

}

.container__item_stuff:first-child {
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;

}

.container__item_stuff:not(:first-child) {
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;

}

.container__img_stuff {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  max-width: 100%;
}


.container__item_name_stuff {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-700);
  font-size: 18px;
  line-height: 24px;
  color: var(--black-3C3C3C);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 16px;
}

.container__item_position_stuff {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--black-3C3C3C);
  padding-top: 4px;
}

.fon {
  background-image: url("../../public/assets/fon_company.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.form_wrapper {
  display: flex;
  flex-direction: row;
}

.company_form_contacts_wrapper {
  display: flex;
  padding: 6.43rem 0vw 3.37rem 1.87vw;
}

.companySubscriptionForm_wrapper {
  display: flex;
  padding: 18.43rem 1.87vw 3.37rem 1.87vw;
 }

.modal_wrapper {
  display: flex;
  position: absolute;
  top: 0;
  right: 0vw;
  bottom: 0;
  width: 33.37rem;
  height: 100%;
  margin-top: 0px;
  border: none !important;
  outline: none;
  border-radius: none;
  background-color: rgba(246, 246, 246, 0.92);
  box-shadow: -2px 4px 22px 0px rgba(29, 46, 67, 0.46);
  backdrop-filter: blur(8.5px);
  overflow-y: auto;
}

.modal_context {
  padding-left: 2vw;
}

.modal_close {
  padding-top: 2rem;
  padding-left: 27rem;
  cursor: pointer;
}

.fixed {
  position: sticky;
  top: 0rem; 
  right: 2rem; 
}

.modal_img_stuff {
  border-radius: 146.5px;
  width: 294px;
  height: 294px;
  margin-left: 15%;
  object-fit: contain;
}

.modal_img_stuff img {
  width: auto;
  height: auto;
}


.modal_name_stuff {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 20px;
  line-height: 28px;
  color: var(--black-1D2E43);
  padding-top: 40px;
}

.modal_description_stuff {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--gray-959DA6);
  padding-top: 8px;
  padding-right: 46px;
}

.modal_about_stuff {
  display: flex;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--black-1D2E43);
  padding-top: 26px;
  padding-right: 46px;
  list-style: none;
}

.modal_about_stuff1,
.modal_about_stuff2,
.modal_about_stuff3,
.modal_about_stuff4,
.modal_about_stuff5 {
  display: flex;
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--black-1D2E43);
  padding-top: 26px;
  padding-right: 2.5rem;
  list-style: none;
  padding-left: 2rem;
}

.slider_card_wrapper {
  display: none;
}

/* стили для планшетной версии  */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .underSlider_text_wrapper {
    padding-bottom: 0;
    padding-top: 38rem;
    padding-left: 5.4vw;
  }

  .span_underSlider_text1 {
    margin-right: 10rem;
  }

  .icon_partner {
    display: none;
  }

  .about_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 56px;
    padding-left: 5.4vw;
  }

  .sliderMobile_wrapper {
    display: none;
  }

  .left_about {
    display: none;
  }

  .left_about_mobile {
    display: flex;
    flex-direction: column;
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    padding-bottom: 3.5rem;
    padding-left: 1.87vw;
    white-space: nowrap;
    width: 23vw;
  }

  .name_company {
    padding-left: 0px;
    padding-right: 48vw;
  }

  .this_block {
    writing-mode: initial;
    transition: none;
    margin-top: 1px;
    margin-left: 430px;
    margin-right: 36vw;
  }


  .right_about {
    padding-top: 32px;
    padding-left: 0;
    margin-right: 17vw;
    width: 77vw;
  }

  .text_right_about {
    height: 230px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .company_group_name {
    font-size: 32px;
    line-height: 40px;
    color: var(--black-1D2E43);
    padding-left: 5.4vw;
    padding-bottom: 3rem;
    padding-top: 6.25rem;
  }

  .company_group_slider {
    padding-left: 0;
    padding-right: 0;
  }

  .awards_wrapper {
    font-size: 32px;
    line-height: 40px;
    color: var(--black-1D2E43);
    padding-left: 5.4vw;
    padding-right: 59vw;
    padding-bottom: 1.5rem;
  }

  .list_project {
    padding-left: 5.4vw;
    padding-right: 17vw;
    padding-bottom: 4.75rem;
  }

  .specialist_wrapper {
    padding-top: 9.25rem;
  }

  .specialist {
    font-size: 24px;
    line-height: 32px;
    padding-left: 5.4vw;
    padding-bottom: 2rem;
  }

  .button_group {
    padding-left: 5.4vw;
    padding-bottom: 2rem;
  }

  .button_group button {
    font-size: 12px;
    padding: 8px 24px;
  }

  .button_hover {
    width: fit-content;
  }

  .card_container {
    display: none;
  }

  .slider_card_wrapper {
    display: flex;
    padding-left: 5.4vw;
  }

  .slide_container_item_stuff {
    width: 20.18rem;
    height: 20.93rem;
    margin-right: 1.875rem;
  }

  .form_wrapper {
    display: flex;
    flex-direction: row;
    padding: 0rem 3.4vw 3.5rem 5.4vw;
  }

  .company_form_contacts_wrapper {
    padding: 3.6rem 1.87vw 0rem 0vw;
  }

  .companySubscriptionForm_wrapper {
    padding-top: 3.6rem;
  }

  .modal_wrapper {
    width: 29rem;
    height: auto;
  }

  .modal_context {
    padding-left: 2rem;
  }

  .modal_img_stuff {
    border-radius: 146.5px;
    width: 294px;
    height: 294px;
    margin-left: 10%;
    object-fit: contain;
  }

  .modal_img_stuff img {
    width: auto;
    height: auto;
  }


  .modal_close {
    padding-top: 2rem;
    padding-left: 23rem;
  }

  .modal_about_stuff5 {
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
  }


}


/* стили мобильной версии  */

@media screen and (max-width: 767px) {

  .underSlider_text_wrapper {
    padding-top: 26rem;
    padding-left: 1.3rem;
    /* width: 30rem; */
  }

  .span_underSlider_text1 {
    font-family: var(--font-raleway);
    font-weight: var(--fw-700);
    font-size: 18px;
    line-height: 24px;
    margin-right: 10rem;
  }

  .span_underSlider_text2 {
    font-weight: var(--fw-600);
    font-size: 32px;
    line-height: 40px;
    padding-top: 0.31rem;
  }

  .div_counter_wrapper {
    padding-top: 1.93rem;
    transition: all 2s ease-in-out;
  }

  .container_text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 15rem;
  }

  .span_underSlider_text {
    font-weight: var(--fw-700);
    font-size: 14px;
    line-height: 20px;
    padding-top: 0.25rem;
  }

  .icon_partner {
    display: none;
  }

  .about_main {
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 61px;
  }

  .sliderMobile_wrapper {
    display: none;
  }

  .left_about {
    display: none;
  }

  .left_about_mobile {
    display: flex;
    flex-direction: column;
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    padding-bottom: 1rem;
    padding-left: 1rem;
    white-space: nowrap;
    width: 23vw;
  }

  .name_company {
    padding-left: 0px;
    padding-right: 48vw;
    font-size: 32px;
    font-weight: var(--fw-700);
    line-height: 40px;
  }

  .this_block {
    writing-mode: initial;
    transition: none;
    margin-top: 0.31rem;
    margin-left: 163px;
    margin-right: 36vw;
    font-size: 32px;
    font-weight: var(--fw-300);
    line-height: 40px;
  }

  .right_about {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-right: 0;
    width: 100%;
  }

  .text_right_about {
    display: inline-block;
    vertical-align: top;
    flex-direction: column;
    padding-right: 0;
  }

  .right_counter_wrapper {
    clear: both;
    display: flex;
    flex-direction: column;
    max-width: 0px;
    flex-wrap: wrap;
    font-weight: var(--fw-300);
    font-size: 60px;
    padding-right: 0;
    padding-left: 0.3rem;
  }

  .container_text_right {
    box-sizing: border-box;
    width: 0;
  }

  .div_underSlider_text_right {
    font-size: 60px;
    line-height: 74px;
    /* padding-right: 192px; */
  }

  .text_svg_right {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .span_underSlider_text_right {
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    width: 200px;
  }

  .company_group_name {
    display: inline-block;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 3.06rem;
    padding-top: 3.06rem;
    padding-left: 1rem;
  }

  .plus_nine {
    display: inline-block;
    padding-left: 0.5rem;
    line-height: 1.25rem;
  }


  .company_group_slider {
    padding-left: 1rem;
    padding-right: 0;
  }

  .awards_wrapper {
    display: inline;
    font-size: 24px;
    line-height: 32px;
    padding-left: 1rem;
    padding-right: 0;
    padding-bottom: 1rem;
  }

  .years_div {
    font-size: 14px;
    font-family: var(--font-raleway);
    line-height: 20px;
    color: var(--gray-959DA6);
    padding-left: 11rem;
    white-space: nowrap;
  }

  .list_project {
    font-family: var(--font-raleway);
    font-weight: var(--fw-300);
    font-size: 18px;
    line-height: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .specialist_wrapper {
    padding-top: 3rem;
  }

  .specialist {
    font-size: 20px;
    line-height: 28px;
    padding-left: 1rem;
    padding-bottom: 2rem;
  }

  .my_swiper_button_group {
    display: flex;
    bottom: 0rem;
    left: 1rem;
    width: 100%;
  }

  .button_hover {
    margin-right: 0.5rem;
    background: transparent;
    border-radius: 34px;
    border: 1px solid var(--black-1D2E43);
    text-align: center;
    font-family: var(--font-raleway);
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 14px;
    line-height: 20px;
    color: var(--black-1D2E43);
    padding: 8px 24px;
    width: 0%;
  }

  .button_hover p {
    width: fit-content;
  }

  .active {
    background: var(--black-1D2E43) !important;
    color: var(--white-F6F6F6) !important;
  }

  .card_container {
    display: none;
  }

  .slider_card_wrapper {
    display: flex;
    padding-left: 1rem;
    padding-top: 1.5rem;
  }

  .slide_container_item_stuff {
    min-width: 20.18rem;
    height: 100%;
    margin-right: 1rem;
  }

  .modal_wrapper {
    width: auto;
    height: auto;
    overflow-y: scroll;
  }

  .modal_context {
   padding-left: 1rem;
    padding-right: 2rem;
  }

  .modal_close {
    display: flex;
    padding-top: 2rem;
    padding-left: 90
  }
  

  .fixed {
    position: sticky;
    top: 0rem; 
    right: 2rem; 
  }

  .modal_img_stuff {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    max-width: 68vw;
    height: 100%;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  }

  .modal_img_stuff {
    max-width: auto;
    max-height: auto;
  }


  .modal_name_stuff {
    padding-top: 1.5rem;
  }

  .modal_description_stuff {
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .modal_about_stuff {
    padding-top: 2.5rem;
    padding-right: 2rem;
  }

  .modal_about_stuff1,
  .modal_about_stuff2,
  .modal_about_stuff3,
  .modal_about_stuff4 {
    padding-right: 3rem;
    padding-left: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .modal_about_stuff5 {
    padding-top: 2.5rem;
    padding-right: 3rem;
    padding-bottom: 5rem;
  }

  .form_wrapper {
    display: flex;
    flex-direction: row;
    padding: 5rem 1rem 0rem 1rem;
  }

  .company_form_contacts_wrapper {
    width: 100%;
    padding: 0rem 0rem 2.8rem 0rem;
  }

  .companySubscriptionForm_wrapper {
    display: none;
  }

}

@media (max-width: 480px) {
  .modal_about_stuff1,
  .modal_about_stuff2,
  .modal_about_stuff3,
  .modal_about_stuff4 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
