.item img {
  padding-left: 9vw;
  height: 40px;
}
.logo {
  padding-top: 56px;
}
.icon_partner_phone {
  display: none;
}

/* Стили для мобильной версии сайта блока NavBar начинаются тут */
@media only screen and (max-width: 700px) {
  .item img {
   height: 30px;
  }
  .item_mobile img{
    padding-left: 10vw;
    height: 26px;
  }
  .icon_partner_phone {
    padding-top: 40px;
    display: block;
  }
     .logo {
      padding-top: 40px;
  }
    
  }
