.company-group-container {
 padding-bottom: 120px;
 }

.company-group-slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.company-group-slide {
  width: 324px;
  height: 132px;
  outline: none;
}
    /* стили для планшетной версии  */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .company-group-container {
        padding-left: 5.2vw;
        padding-bottom: 6.25rem;
      }
      }

      /* стили мобильной версии  */

@media screen and (max-width: 767px) {

    .custom-dots li.slick-active {
      align-items: center;
      justify-content: center;
       width: 8px;
      height: 1.39rem;
      transform: scale(1.08);
       border: "1px #FF7F6A solid";
     }
  
 }
