.company-group-container {
 padding-bottom: 120px;
 }

.company-group-slide img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.company-group-slide {
  width: 324px;
  height: 132px;
  outline: none;
}
    /* стили для планшетной версии  */
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .company-group-container {
        padding-left: 5.2vw;
        padding-bottom: 6.25rem;
      }
      }

      /* стили мобильной версии  */

@media screen and (max-width: 767px) {

  .pagination_company_slider {
      display: flex;
      justify-content: center;
      margin-top: 35px;
    }
    
    .pagination_company_slider-dot {
      width: 20px;
      height: 4px;
      border: 2px solid var(--light-light-gray-EBECEE);
      background-color: var(--light-light-gray-EBECEE);
      margin: 0 5px;
      cursor: pointer;
    }
    
    .pagination_company_slider-dot.active {
      width: 54px;
      border: 2px solid var(--salmon-FF7F6A);
    }
 }
