.company-group-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 120px;
  padding-left: 1.87vw;
}

.company-group-slide img {
  width: 324px;
  height: 132px;
  padding-right: 30px;
}

