@import '../App.css';

.section_project {
    padding-top: 5rem;
    background-color: rgb(32,36,38);
    color: aliceblue;

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__block_cart {
        display: inline-block;
    }
}

.cart_project {

    &__container {
        max-width: min-content;
        border: 1px solid red;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        width: 50%;
        /* Body Bold · 14 */
            font-family: var(--font-raleway);
            font-size: 14px;
            font-style: normal;
            font-weight: var(--fw-700);
            line-height: 20px;
            color: var(--black-4E4E4E);
    }

    &__widget {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 16px;

        div {
            font-family: var(--font-raleway);
                font-size: 9px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
        }
    }

    &__address {
        color: var(--gray-959DA6);
        font-family: var(--font-raleway);
            font-size: 10px;
            font-style: normal;
            font-weight: var(--fw-400);
            line-height: normal;
    }


    &__img {
        border-radius: 1rem;
    }
}