@import "../App.css";

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}


.visible {
  display: block;
  transition: all .3s ease;
  transform: translateY(0);
}

.hidden {
  display: none;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.header {
  min-width: 1024px;
  height: 500px;
  width: 100vw;
  display: flex;
}

.header {
  position: sticky;
  top: 0px;
  height: 6rem;
}

.navbar_desctop {
  background: rgb(246 246 246 / 90%);
  border-bottom: 1px solid var(--black-1D2E43);
  border-top: 1px solid var(--black-1D2E43);
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  padding-left: 34px;
}

.navbar_title {
  font-family: var(--font-MyCustomFont);
  font-size: 24px;
  color: var(--black-1D2E43);
  cursor: pointer;
}

.navbar_list {
  display: flex;
  height: 100%;
}

.navbar_item {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 1.25vw;
  color: var(--black-1D2E43);
  display: flex;
  align-items: center;
  padding-left: 1.53vw;
  padding-right: 1.53vw;
  border-left: 1px solid var(--black-1D2E43);
  }
.navbar_item_last {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 1.25vw;
  color: var(--black-1D2E43);
  display: flex;
  align-items: center;
  padding-left: 1.53vw;
  padding-right: 1.53vw;
  border-right: 1px solid var(--black-1D2E43);
}

.navbar_item:hover,
.navbar_item.active
{
  background: rgba(212, 237, 251, 0.6);
  cursor: pointer;
}


.navDesktop_container {
  display: none;
}


/* Стили для мобильной версии сайта блока NavBar начинаются тут */
@media screen and (max-width: 1024px) {
  .navbar_desctop {
    display: none;
  }

  .navDesktop_container {
    display: block;
  }

  .navDesktop_container {
    position: absolute;
    top: 0;
    background: var(--white-F6F6F6);
    width: 100%;
  }

  .logo_img {
    position: relative;
    z-index: 9999;
  }

  .logo_heading {
    display: inline-block;
  }

  .container {
    width: 100%;
  }

  .navbar {
    width: 100%;
    background-color: var(--white-F6F6F6);
    height: 65px;
    border-bottom: 1px solid var(--black-1D2E43);
  }

  .cross_container {
    position: relative;
  }

  .cross_block {
    position: absolute;
    right: 60px;
    bottom: -17px;
  }

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .nav_container a {
    text-decoration: none;
    color: var(--black-1D2E43);
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .contact_info_language {
    padding: 0.7rem
  }

  .navbar .nav_container a:hover {
    font-weight: bolder;
    color: var(--light-light-gray-EBECEE);
  }

  .nav_container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav_container .checkbox {
    position: absolute;
    z-index: 9999;
    height: 32px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
  }

  .nav_container .hamburger_lines {
    height: 15px;
    width: 41px;
    top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9998;
    left: 83%;
  }


  .nav_container .hamburger_lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--black-1D2E43);
  }

  .nav_container .hamburger_lines .line1 {
    transform-origin: 23% 29%;
    transition: transform 0.4s ease-in-out;
  }

  .nav_container .hamburger_lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav_container .hamburger_lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .menu_list {
    padding: 0;
    text-align: center;
    padding-top: 20%;
  }

  .menu_list li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .menu_item {
    font-weight: 700;
  }

  .logo {
    position: absolute;
    top: 25px;
    padding-left: 20px;
 
    font-size: 1.2rem;
    color: var(--black-1D2E43);
    position: relative;
    z-index: 9999;
  }

  .nav_container input[type="checkbox"]:checked~.menu_list {
    transform: translateX(0);
  }

  .nav_container input[type="checkbox"]:checked~.hamburger_lines .line1 {
    transform: rotate(25deg);
  }

  .nav_container input[type="checkbox"]:checked~.hamburger_lines .line2 {
    transform: scaleY(0);
  }

  .nav_container input[type="checkbox"]:checked~.hamburger_lines .line3 {
    transform: rotate(-25deg);
  }

  .nav_container input[type="checkbox"]:checked~.logo {
    display: none;
  }

  .contact_info {
    position: absolute;
    right: 15px;
    bottom: 20%;
    color: var(--black-1D2E43);
    font-weight: var(--fw-400);
    font-size: 1rem;
  }

  .contact_info_block {
    display: flex;
    align-items: end;
    flex-direction: column;
  }

  .contact_info_language,
  .contact_info_mail {
    padding-bottom: 9px;
    font-weight: var(--black-1D2E43);
  }

  .contact_info_phone {
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

}

@media screen and (max-width: 400px) {

  .cross_block {
    position: absolute;
    right: 30px;
    bottom: -17px;
  }
}


