:root {
    --font-unbounded: 'Unbounded', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-raleway: 'Raleway', sans-serif;

    /* отступы у контейнера */
    --mb-container-2: 2rem;
    --mb-container-1: 1rem;

    /* цвета */
    --color-green: #F6F6F66B;
    --color-while: #F6F6F6;
    --color-desc: #EBECEE;
    --color-title-text: #1D2E43;
    --color-grey-text: #959DA6;
    --color-number-hextension: #566272;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}


.container {
    margin-left: var(--mb-container-2);
    margin-right: var(--mb-container-2);
    overflow-y: auto;
}


.header_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header_img_title {
    position: absolute;
    top: 8vh;
}

.header_link {
    background: var(--color-green);
    /* Цвет фона */
    border: none;
    /* Убираем границу */
    color: var(--color-while);
    /* Цвет текста */
    padding: 0.69vw 1.39vw;
    /* Отступы внутри кнопки */
    text-align: left;
    /* Выравнивание текста по левому краю */
    font-size: 1.11vw;
    /* Размер шрифта */
    cursor: pointer;
    /* Изменяем вид курсора при наведении на кнопку */
    border-radius: 18px;
    padding-left: 20px;
}

.header_link::before {
    content: "<";
    /* Код символа стрелки влево */
    margin-right: 10px;
    /* Отступ между стрелкой и текстом */
}

.header_title {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 3.33vw;
    line-height: 30px;
    color: var(--color-while);
    padding-top: 4.7vh;
}

.header_desc {
    font-family: var(--font-raleway);
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.97vw;
    line-height: 14px;
    color: var(--color-desc);
    padding-top: 30px;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.89vw;
}

/* <<=============== левый блок контента с информацией===============>> */

.header_content_left {
    width: 70%;
}

.title_block {
    display: flex;
    align-items: center;
    gap: 1.39vw;
}

.left_title {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 2.22vw;
    line-height: 2.78vw;
    color: var(--color-title-text);
}

.left_meta {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.83vw;
    line-height: 1.11vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-grey-text);
    border: 1px solid;
    border-radius: 1.25vw;
    padding: 0.35vw 1.25vw;
}

.title_text {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 1.11vw;
    line-height: 1.67vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-title-text);
    padding-top: 1.22vw;
    padding-bottom: 2.22vw;
}

.result_container {
    display: flex;
    gap: 4.17vw;
}

.result_container_phone {
    display: none;
}


.result_number {
    font-family: var(--font-unbounded);
    font-style: normal;
    font-weight: var(--fw-300);
    font-size: 1.39vw;
    line-height: 1.94vw;
    color: var(--color-number-hextension);
}

.result_text {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.97vw;
    line-height: 1.39vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-grey-text);
}


/* << =============== правый блок контента с информацией =============== >> */
.header_content_right {
    width: 30%;
}

.local_container {
    display: flex;
    flex-wrap: nowrap;
    gap: 4.86vw;
    padding-top: 2.08vw;
}

.local_ritgh,
.local_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.39vw;
}

.local_title {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.97vw;
    line-height: 1.39vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-number-hextension);
}

.local_text {
    font-style: normal;
    font-weight: var(--fw-400);
    font-size: 0.97vw;
    line-height: 1.39vw;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: var(--color-grey-text);
}

.item {
    padding-bottom: 2.78vw;
}

.item {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

/* Стили для мобильной версии сайта блока WinePark начинаются тут */
@media screen and (max-width: 700px) {

    .container {
        margin-left: var(--mb-container-1);
        margin-right: var(--mb-container-1);
    }

    .result_container {
        display: none;
    }

    .result_container_phone {
        display: block
    }


    .header_img_title {
        top: 9vh;
        left: 2vh;
    }

    .header_link {
        font-size: 3.73vw;
        padding: 1.67vw 3.47vw;
    }

    .header_title {
        font-size: 8.53vw;
        line-height: 10.67vw;
        padding-top: 8vw;
    }

    .header_desc {
        font-size: 3.73vw;
        line-height: 3.73vw;
    }

    .header_content {
        padding-top: 5.33vh;
        flex-direction: column;
        justify-content: normal;
    }

    .header_content_left, .header_content_right {
        width: auto;
    }

    .title_block {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .left_title {
        font-size: 5.07vw;
        line-height: 7.47vw;
    }

    .left_meta {
        font-size: 9px;
        padding: 7px 15px;
        border-radius: 34px;
        margin-top: 2.13vw;
    }

    .title_text {
        font-size: 4.27vw;
        line-height: 6.40vw;
        padding-top: 4.27vw;
    }
    
    .local_container {
        padding-top: 5.33vw;
        gap: 20vw;
    }

    .local_title {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }
    
    .local_text {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }

    .result_container_phone {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5.33vw;
        padding-top: 5.33vw;
    }

    .result_number {
        font-size: 5.33vw;
        line-height: 7.47vw;
    }

    .result_text {
        font-size: 3.73vw;
        line-height: 5.33vw;
    }
}