.test_container {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 33, 36);
    color: aliceblue;
    padding: 0rem 3rem;
}

.test_block {
    display: flex;
    gap: 50%;
}



.test_form {
        display: flex;
            flex-direction: column;
            gap: 22px;
}

.test_item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
бла бла