.form_left_wrapper {
  display: flex;
  max-width: 683px;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(261.46deg, rgba(255, 203, 193, 0.09) -4.67%, rgba(117, 187, 253, 0.09) 44.63%, rgba(188, 188, 188, 0.09) 103.07%);
  box-shadow: 0px 0px 37px rgba(44, 59, 68, 0.05);
  backdrop-filter: blur(14.5px);
}

.form_left_main {
  display: flex;
  flex-direction: column;
  padding: 8.19vh 2.77vw 5vh 5vw;
 }

.title {
  font-family: var(--font-unbounded);
  font-style: normal;
  font-weight: var(--fw-300);
  font-size: 32px;
  line-height: 40px;
  color: var(--black-1D2E43);
  }

.span_text {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  color: var(--black-3C3C3C);
  padding-top: 1.66vh;
  padding-right: 3.2vw;
  }

  .form_form_wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2.91vh;
    width: 480px;
   }
   .label1 {
    position: relative;
  }


input {
  border: none;
  outline: none;
  background-color: transparent;
  padding-top: 2.36vh;
  }

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--gray-959DA6);
  font-size: 16px;
  transform-origin: left top;
  /* transition: all 0.1s ease-out; */
 }

/* .focused1 .placeholder {
  transform: translateY(-100%) scale(1);
} */

.input:not(:placeholder-shown)+.placeholder,
.input:empty+.placeholder,
.focused1 .placeholder {
  transform: translateY(-100%) scale(1);
  font-size: 12px;
  color: var(--gray-959DA6);
}

input:focus + .line {
  background-color: #FF7F6A;
}

::placeholder {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 16px;
  color: #959DA6;
  }

.line {
  bottom: 0;
  left: 0;
  height: 0.069vh;
  margin-top: 0.55vh;
  background-color: #959DA6;
}

.button_hover {
  margin-top: 2.77vh;
  width: 145px;
  height: 56px;
  border: 1px solid var(--black-1D2E43);
  border-radius: 66px;
}

.active {
  background: var(--black-1D2E43) !important;
  color: var(--white-F6F6F6) !important;
}
.button_hover:hover {
  background: linear-gradient(278.5deg, rgba(220, 238, 255, 0.53) -49.88%, rgba(255, 127, 106, 0.53) 108.02%);
  color: var(--black-1D2E43);
  border: 0px solid transparent;
}

.form_left_wrapper:focus-within .button_hover {
  background-color: var(--light-light-gray-EBECEE);
  border: 1px solid var(--gray-959DA6);
}

.button_name {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 16px;
  line-height: 24px;
  }

  .form_left_wrapper:focus-within .button_name  {
    color: var(--gray-959DA6);
  }
.agreement {
  font-family: var(--font-raleway);
  font-style: normal;
  font-weight: var(--fw-400);
  font-size: 10px;
  line-height: 14px;
  color: var(--black-1D2E43);
  padding-top: 1.11vh;
 }
 
 .agreement label {
  display: flex;
  align-items: center;
  }

 .agreement input[type="checkbox"] {
  margin-right: 8px;
}

 .agreement a {
  text-decoration: underline;
 }

 input[type=checkbox] {
  transform: scale(1);
  cursor: pointer;
}

/* стили checkbox */
.checkbox {
  position: relative;
}
.checkbox::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 0px solid var(--white-F6F6F6);
  margin-right: 10px;
}
.checkbox::after {
  content: "\2713";
  position: absolute;
  top: 45%;
  left: 60%;
  transform: translate(-50%, -50%);
  display: none; 
}
.checkbox:checked::before {
  background-color: #FF7F6A;
 }

 .checkbox:checked::after {
  display: block;  
  color: var(--white-F6F6F6);
}