/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

:root {
  --orange-light: #FFBFB5;
  --color-white-main: #f6f6f6;
  --color-white: #FFFFFF;
  --color-container: #1D2E43;
  --color-light-grey: #C0C5CB;
  --color-link-active: #BADDFE;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-container);
  padding: 1.7vh 2.7vh 4vh 2.7vh;
}

.mail_link {
  color: var(--color-white-main);
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  cursor: pointer;
}

.mail_link:visited {
  color: var(--color-link-active);
}

.office {
  color: var(--color-white-main);
  padding-top: 40px;
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.tel,
.address {
  display: block;
  color: var(--color-white);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 4px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.tel:hover {
  color: var(--orange-light);
  cursor: pointer;
  
}
/* 
.tel:visited {
  color: var(--color-link-active);
} */

.footer_block_right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}

.block_lang {
  color: var(--color-white-main);
}
.block_lang:hover {
  color: var(--orange-light);
}

.social_links {
  padding-top: 69px;
}

.social_links_item {
  color: var(--color-white);
  /* text-decoration: none; */
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
}

.social_links_item:hover {
  color: var(--orange-light);
}

/* .social_links_item:visited {
  color: var(--color-link-active);
} */

.job {
  display: flex;
  padding-top: 44px;
}

.job_link {
  color: var(--color-light-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding-left: 24px;
}
.job_link:hover {
  color: var(--orange-light);
}

/* .job_link:visited {
  color: var(--color-link-active);
} */

.job_link:not(:last-child) {
  color: var(--color-light-grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding-right: 20px;
}


/* Стили для мобильной версии сайта блока NavBar начинаются тут */
@media screen and (max-width: 700px) {
  .footer_container {
    min-width: 0px;
    height: auto;
    flex-direction: column;
    padding: 2.4vh 1.7vh 4vh 1.7vh;
    margin-top: 5vh;
  }

  .mail_link {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
  }

  .block_lang {
    display: none;
  }

  .office {
    padding-bottom: 14px;
  }

  .address {
    font-size: 12px;
  }

  .footer_block_right {
    align-items: normal;
  }


  .job {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2vh;
  }

  .job_link {
    padding: 0;
  }

  .job_link:first-child {
    display: none;
  }

}